<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="container mt-5">
        <div class="row"  style="display: grid; place-content: center;">
            <h1 class="display-5">EcoSpace.com</h1>
        </div>
        <div class="row mt-3">
            <ul class="list-unstyled d-flex"  style="display: grid; place-content: center;">
                <li class="px-2">HOME</li>
                <li class="px-2">AGENT</li>
                <li class="px-2">ABOUT</li>
                <li class="px-2">LISTING</li>
                <li class="px-2">BLOG</li>
                <li class="px-2">CONTACT</li>
            </ul>
        </div>
        <div class="row mt-3">
            <ul class="list-unstyled d-flex"  style="display: grid; place-content: center;">
                <li class="px-2"><i class="fa-brands fa-instagram fa-2xl"></i></li>
                <li class="px-2"><i class="fa-brands fa-facebook fa-2xl"></i></li>
                <li class="px-2"><i class="fa-brands fa-twitter fa-2xl"></i></li>
            </ul>
        </div>
    </div>
</footer>